FIREBASE_PROJECT_ID=noman-64792
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

SUPABASE_URL=https://bpqgpdckrmkdbyzfvwpf.supabase.co
SUPABASE_KEY=
DATABASE_URL=

SARVAM_API_KEY=

OPENFOODFACTS_BASE_URL=https://world.openfoodfacts.org
